{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}
        <!-- ABOUT US -->
        <section id="about_us">
            <div class="title">会社概要</div>
            <div class="info_box">
                <div class="grey"></div>
                <div class="side">
                    <div class="item">会社名</div>
                    <div class="item">代表責任者</div>
                    <div class="item">所在地</div>
                    <div class="item">電話番号</div>
                    <div class="item">Email</div>
                    <div class="item">URL</div>
                </div>
                <div class="side">
                    <div class="item">合同会社形源商社</div>
                    <div class="item">鈴木基文</div>
                    <div class="item">東京都世田谷区千歳台4-6-5</div>
                    <div class="item">03-6450-9036</div>
                    <div class="item">yisobe@allconnect.io</div>
                    <div class="item">https://allconnect.io</div>
                </div>
            </div>

        </section>
        <!-- !ABOUT US -->
{% endblock %}
